modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["lsof"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Development"

[[workflows.workflow]]
name = "Start React App"
author = 44594929
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Development"
author = 33738084
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
